<div class="cart-main-area section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <div class="table-content wnro__table table-responsive">
                    <table>
                        <thead>
                        <tr class="title-top">
                            <th class="product-thumbnail">Name Surname:</th>
                            <td class="product-name"><img src="{{ profile.image.url }}"
                                                          alt="product img"></td>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="title-top">
                            <th class="product-thumbnail">Email:</th>
                            <td class="product-name">{{ profile.user.email }}</td>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="title-top">
                            <th class="product-thumbnail">Phone:</th>
                            <td class="product-name">{{ profile.phone }}</td>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="title-top">
                            <th class="product-thumbnail">Address:</th>
                            <td class="product-name">{{ profile.address}}</td>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="title-top">
                            <th class="product-thumbnail">City:</th>
                            <td class="product-name">{{ profile.city }}</td>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="title-top">
                            <th class="product-thumbnail">Country:</th>
                            <td class="product-name">{{ profile.country }}</td>
                        </tr>
                        </thead>
                    </table>
                </div>


            </div>
        </div>

    </div>
</div>